# All related to environ file https://django-environ.readthedocs.io/en/latest/

SECRET_KEY=41uzsty#9e%4nukm5wy%-5ur*2+cje&0(833*jat%9h^p_$jnq
DEBUG=on

DATABASE_URL=postgres://urser:password@host:port/database
